.react-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0.5em;
}

.react-calendar__month-view__weekdays__weekday {
/* 요일 스타일 */
font-size: 15px;
}
abbr[title] {
text-decoration: none;
}

.react-calendar__navigation__label__labelText  {
/* 달 선택 스타일 */
font-size: 15px;
}
.react-calendar__tile {
/* 날짜스타일 */
font-size: 20px;
padding: 3% 2px 3% 2px;
}
.react-calendar__tile--active {
/* 선택날짜 */
}
.react-calendar__tile--now {
/* 오늘날짜 */
}

.react-calendar__navigation__arrow {
font-size: 15px;
}

.react-calendar__year-view .react-calendar__tile, .react-calendar__decade-view .react-calendar__tile, .react-calendar__century-view .react-calendar__tile {
padding: 1em 0.3em;
}
.react-calendar__navigation {
  margin-bottom: 0;
  height: 25px;
}